# Byte-compiled
__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/

# output dir
outputs_unsup_simcse/
outputs_sup_simcse/
outputs/
outputs_bpr/

# model
*.safetensors
*.pt
*.pth
